<div class="container">
  <h3 mat-dialog-title>More Details</h3>
  <div mat-dialog-content>
    <div class="row d-flex p-2">
      <div class=col-3>AmcatId </div><div class=col-2>:</div><div class="col-7" >{{data.amcatId}}</div>
    </div>
    <div class="row d-flex p-2">
      <div class=col-3>Date of Drive </div><div class=col-2>:</div><div class="col-7" >{{data.dateOfDrive}}</div>
    </div>

        <div class="row d-flex p-2">
      <div class=col-3>Venue of Drive </div><div class=col-2>:</div><div class="col-7" >{{data.venueOfDrive}}</div>
    </div>

        <div class="row d-flex p-2">
      <div class=col-3>Student Name </div><div class=col-2>:</div><div class="col-7" >{{data.studentName}}</div>
    </div>

        <div class="row d-flex p-2">
      <div class=col-3>Gender </div><div class=col-2>:</div><div class="col-7" >{{data.gender}}</div>
    </div>

        <div class="row d-flex p-2">
      <div class=col-3>Graduation Year </div><div class=col-2>:</div><div class="col-7" >{{data.yearOfGraduation}}</div>
    </div>

        <div class="row d-flex p-2">
      <div class=col-3>College Name </div><div class=col-2>:</div><div class="col-7" >{{data.collegeName}}</div>
    </div>

        <div class="row d-flex p-2">
      <div class=col-3>University </div><div class=col-2>:</div><div class="col-7" >{{data.university}}</div>
    </div>

        <div class="row d-flex p-2">
      <div class=col-3>Student Course </div><div class=col-2>:</div><div class="col-7" >{{data.studentCourse}}</div>
    </div>

        <div class="row d-flex p-2">
      <div class=col-3>Student Branch </div><div class=col-2>:</div><div class="col-7" >{{data.studentBranch}}</div>
    </div>

        <div class="row d-flex p-2">
      <div class=col-3>Class 10 </div><div class=col-2>:</div><div class="col-7" >{{data.markTenth}}</div>
    </div>

        <div class="row d-flex p-2">
      <div class=col-3>Class 12 </div><div class=col-2>:</div><div class="col-7" >{{data.markTwelve}}</div>
    </div>

        <div class="row d-flex p-2">
      <div class=col-3>College Marks </div><div class=col-2>:</div><div class="col-7" >{{data.collegeMarks}}</div>
    </div>

        <div class="row d-flex p-2">
      <div class=col-3>College Percentage </div><div class=col-2>:</div><div class="col-7" >{{data.collegePercentage}}</div>
    </div>

        <div class="row d-flex p-2">
      <div class=col-3>Student Address </div><div class=col-2>:</div><div class="col-7" >{{data.studentAddress}}</div>
    </div>

        <div class="row d-flex p-2">
      <div class=col-3>Student Mobile </div><div class=col-2>:</div><div class="col-7" >{{data.studentMobile}}</div>
    </div>

        <div class="row d-flex p-2">
      <div class=col-3>Additional Contact No. </div><div class=col-2>:</div><div class="col-7" >{{data.additionalContactNumber}}</div>
    </div>

            <div class="row d-flex p-2">
      <div class=col-3>Student Email </div><div class=col-2>:</div><div class="col-7" >{{data.studentEmail}}</div>
    </div>

        <div class="row d-flex p-2">
      <div class=col-3>Additional EmailId </div><div class=col-2>:</div><div class="col-7" >{{data.addtionalEmailId}}</div>
    </div>

        <div class="row d-flex p-2">
      <div class=col-3>College Address </div><div class=col-2>:</div><div class="col-7" >{{data.collegeAddress}}</div>
    </div>

        <div class="row d-flex p-2">
      <div class=col-3>Placement Officer </div><div class=col-2>:</div><div class="col-7" >{{data.nameOfPlacementOfficer}}</div>
    </div>

        <div class="row d-flex p-2">
      <div class=col-3>Contact number Placement Officer </div><div class=col-2>:</div><div class="col-7" >{{data.numberOfPlacementOfficer}}</div>
    </div>

        <div class="row d-flex p-2">
      <div class=col-3>EmailId Placement Officer </div><div class=col-2>:</div><div class="col-7" >{{data.emailOfPlacementOfficer}}</div>
    </div>

        <div class="row d-flex p-2">
      <div class=col-3>Pre Learning </div><div class=col-2>:</div><div class="col-7" >{{data.preLearningLink}}</div>
    </div>

        <div class="row d-flex p-2">
      <div class=col-3>Litmus Batch </div><div class=col-2>:</div><div class="col-7" >{{data.litmusBatch}}</div>
    </div>

        <div class="row d-flex p-2">
      <div class=col-3>Litmus Status</div><div class=col-2>:</div><div class="col-7" >{{data.litmusStatus}}</div>
    </div>

        <div class="row d-flex p-2">
      <div class=col-3>Remarks </div><div class=col-2>:</div><div class="col-7" >{{data.studentRemarks}}</div>
    </div>

        <div class="row d-flex p-2">
      <div class=col-3>Additional Remarks</div><div class=col-2>:</div><div class="col-7" >{{data.studentAdditionalRemarks}}</div>
    </div>

        <div class="row d-flex p-2">
      <div class=col-3>BGV Status </div><div class=col-2>:</div><div class="col-7" >{{data.backgroundVerification}}</div>
    </div>
      
  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()" tabindex="-1">Close</button>
  </div>
</div>
