
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color:red;
}
.year{
    text-align: center;
    margin-left: 886px;
}
.navbar{
background-color: #fff;
 border-color: #fff;
 margin-top: -26px;
}
.navbar-header{
    margin-top: -52px;
    margin-right: -34px;
    color: #0e415e;
    font-weight: bolder;
}

.navig{
 padding-left:77%;
 padding-top:4px;
 font-size:15px;
 background-color: #fff;
 /*color: white;*/
}


.ibsimg{
    margin-left: -983px;
    margin-top: 9px;
    width: 197px;
    height: 75px;
    padding-left: 36px;
}
.tab{
color: #007a7e;
font-family: Arial, Helvetica, sans-serif;
font-weight: bolder;
} 
.activity{
    margin-top:-40px;
    color:#007a7e;
}
.icon{
    float: right;
    margin-top: 5px;
    margin-right: -14px;
    cursor: pointer;
}
.mat-menu-item{
    font-family: Arial, Helvetica, sans-serif;
}