<div class="dio1">

        <div class="row aa" style="color: #04c4c4;">

        </div>
        <table class="table"  >
                <!-- <tr>
                        <h5 class="empd">
                                <p class="head aa">Employee Details</p>
                        </h5>
                </tr> -->
                <tr>
                        <h5>
                                <p class="serif" style="display: inline;">Employee ID:</p><p class="secondary" style="display: inline; margin-left: -3px"> {{emp.empId}}</p>
                        </h5>
                </tr>
                <tr>
                        <h5>
                                <p class="serif" style="display: inline;">Space ID:</p><p class="secondary" style="display: inline; margin-left: 21px"> {{emp.spaceId}}</p>
                        </h5>
                </tr>
                <tr>
                        <h5>
                                <p class="serif" style="display: inline;">Employee Name:</p><p class="secondary" style="display: inline; margin-left: -30px"> {{emp.fName}} {{emp.lName}}</p>
                        </h5>
                </tr>
                <tr>
                        <h5>
                                <p class="serif" style="display: inline;">Team Name: </p><p class="secondary" style="display: inline; margin-left: 2px">{{emp.teamName}} </p>
                        </h5>
                </tr>
                <tr>
                        <h5>
                                <p class="serif" style="display: inline;">Client Name:</p><p class="secondary" style="display: inline; margin-left: 5px">{{emp.clientName}} </p>
                        </h5>
                </tr>
                <tr>

                </tr>
                <tr>
                        <button type="button" class="btn btn-outline-danger" style="margin-left: 32px;margin-bottom: 20px;margin-top: 30px; float: left;" (click)="Deallocate()">Deallocate</button>

                        <button type="button" class="btn btn-outline-secondary" style="margin-left: 20px;margin-bottom: 20px;margin-top: 30px;width:110px" (click)="cancel()">Cancel</button>

                </tr>

        </table>



</div>