<div class="header ">
         <a href="#">
            <img src="../../assets/images/iSpaceLogo.png" width=130px height=70px>
            </a>


            <div class="header-right" style=" border-radius: 16px; ">
                    <select class="logobar" style="margin-top: 10px;border-color: white;border-radius: 16px;" (change)="changeCity()">
                      <option> &#9786; {{id}}</option>
                      <option>
              
                       
                        Logout
                      </option>
              
              
                    </select>
              
              
                  </div>
<!--   
       <div class="header-right">
           
            <button class ="abk"  (click)="onClick()">
            Logout  {{id}}
        </button>
      </div>  -->
  </div>
 