.container {
  display: flex;
  flex-direction: column;
  min-width: 450px;
 
}

.container > * {
  width: 100%;
}

.form {
  display: flex;
  padding-top: 6px;
 
}
.form-control{
  border: 0;
  box-shadow: none;
}

.mat-form-field {
  font-size: 16px;
  flex-grow: 1;
 
}

.mat-dialog-title{
 
}
.save{
   background-color: #00aaad;
   
}
.savetext{
 color: white;
 margin: 0;

}
.mat-dialog-content{
   overflow-y: hidden !important; 
   padding: 22px 12px;
}
